 #h1{
    text-align: center;
    background: #7b4397;  
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  
    background: linear-gradient(to right, #dc2430, #7b4397);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    margin-top: 0;
    height: 150px;
    padding-top: 50px;
    font-variant: small-caps;

}

body{
    background-color: rgb(167, 167, 160);
}

.table{
    margin: 20px 30px 50px 0 !important;
    justify-content: space-between !important;
    border: 1px solid black ; 

}

th{
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps !important;
   border: 0.1px solid rgb(230, 225, 225) !important;
   text-align: center !important;
}

td{
    width: 100px !important;
   padding-top: 10px !important;
}

@media only screen and (max-width: 650px) {

    html{
        width: 650px;
    }
    /* #h1{
        width: 600px;
    } */
    th{
        font-size: medium;
    }
    
}